@import 'vars.scss';

.content{
  position: fixed;
  top: 60px;
  left: 38px;
  text-align: center;
  padding: 15px 20px;
  height: 100%;
  width: 80%;
  transition: 0.3s ease;
  &.active{
    left: 265px;
  }
}

@media all and (min-width: 320px) and (max-width: 470px){
  .content{
    &.active{
      left: 0;
      display: none;
    }
  }
}