@import '_vars';
.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background: $color-background-main;
    color: $color-text-base;
    z-index:9999;
    &__container{
        display: flex;
        justify-content: space-between;
        padding: 0 15px;
    }
    &__logo{
        font-family: 'Lato', sans-serif;
        &_text{
            font-size: $font-size-base * 2;
        }
    }
}
