.main{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
<<<<<<< HEAD
=======
  overflow-x:hidden;
>>>>>>> 5a97899b7bb33d5d781d46fa8eaba18019dc0995
  font-family: 'Lato', sans-serif;
}