@import "_vars";

.table{
  display: none;
  margin: auto;
  font-family: 'Lato', sans-serif;
  text-align: center;
  &__rows,
  &__cols,
  &__button{
    padding: 3px;
    border: 1px solid $color-text-base;
    border-radius: 4px;
    margin: 3px;
  }

  &__rows::placeholder,
  &__cols::placeholder {
    background: $color-main-content;
  }

  &__create{

    margin-top: 20px;
  }

  &__create-cols{
    padding: 10px;
    border: 1px solid $color-text-base;
  }
}