@import "vars.scss";
.table{
  display: none;
<<<<<<< HEAD
  margin: auto;
  font-family: 'Lato', sans-serif;

=======
  text-align: center;
  font-family: 'Lato', sans-serif;
>>>>>>> 5a97899b7bb33d5d781d46fa8eaba18019dc0995
  &__rows,
  &__cols,
  &__button{
    padding: 3px;
    border: 1px solid $color-text-base;
    border-radius: 4px;
    margin: 3px;
  }

  &__rows:placeholder,
  &__cols:placeholder{
    background: $color-main-content;
  }
<<<<<<< HEAD

  &__create{
    border: 1px solid black;
    margin-top: 20px;
  }
  &__create-cols{
    padding: 10px;
    border: 1px solid black;
  }
=======
>>>>>>> 5a97899b7bb33d5d781d46fa8eaba18019dc0995
}